In [6]:
import pandas as pd

In [7]:
src_OnOff = pd.read_excel("src_OnOff.xlsx",
                          dtype={"DeviceState": "category"}, 
                          parse_dates=['Begin', 'End'],
                          date_format='%Y-%m-%d %H:%M:%S.%f')

In [8]:
src_OnOff.dtypes

PassportNumber             int64
UnitNumber                 int64
DeviceState             category
Begin             datetime64[ns]
End               datetime64[ns]
dtype: object

In [9]:
src_OnOff

,PassportNumber,UnitNumber,DeviceState,Begin,End
0,10100003,0,OFF,2022-02-07 02:00:00,2022-02-08 02:00:00
1,10100003,0,OFF,2022-02-08 02:00:00,2022-02-08 11:48:42
2,10100003,0,ON,2022-02-08 11:48:42,2022-02-08 12:36:55
3,10100003,0,OFF,2022-02-08 12:36:55,2022-02-08 22:05:17
4,10100003,0,ON,2022-02-08 22:05:17,2022-02-08 23:48:03
...,...,...,...,...,...
642129,502286,0,OFF,2022-02-15 20:16:01,2022-02-15 20:53:31
642130,502286,0,ON,2022-02-15 20:53:31,2022-02-15 21:43:15
642131,502286,0,OFF,2022-02-15 21:43:15,2022-02-15 22:09:59
642132,502286,0,ON,2022-02-15 22:09:59,2022-02-15 22:19:33
642133,502286,0,OFF,2022-02-15 22:19:33,2022-02-16 02:00:00

In [10]:
src_OnOff.to_csv('src_OnOff.csv', index=False)