In [23]:
import pandas as pd

In [24]:
src_survey = pd.read_excel('src_survey.xlsx', 
                           dtype={'button': 'category', 'tv state': 'category', 'see': 'category', 'display': 'category'}, 
                           parse_dates=['cs_start', 'cs_finish'],
                           date_format='%H:%M:%S')

In [25]:
# Создаем функцию для преобразования имеющихся строк в даты
def convert_to_date(date_str):
    try:
        return pd.to_datetime(date_str, format="%d.%m.%y")
    except:
        return date_str

src_survey["day"] = src_survey["day"].apply(convert_to_date)

In [26]:
src_survey['Begin'] = src_survey['day'] + pd.to_timedelta(src_survey['cs_start'].dt.strftime('%H:%M:%S'))
src_survey['End'] = src_survey['day'] + pd.to_timedelta(src_survey['cs_finish'].dt.strftime('%H:%M:%S'))

src_survey.head()

,code,passport,button,tv state,unit,day,cs_start,cs_finish,see,display,Кол-во человек в семье 4+,Begin,End
0,258104,1204558,А,выключен,0,2022-02-07,1900-01-01 16:25:18,1900-01-01 16:26:09,нет регистрации,нет в комнате,1,2022-02-07 16:25:18,2022-02-07 16:26:09
1,258106,1205697,Б,включён,0,2022-02-07,1900-01-01 16:50:18,1900-01-01 16:53:17,нет регистрации,в комнате,3,2022-02-07 16:50:18,2022-02-07 16:53:17
2,258106,1205697,А,включён,0,2022-02-07,1900-01-01 16:50:18,1900-01-01 16:53:17,нет регистрации,нет в комнате,3,2022-02-07 16:50:18,2022-02-07 16:53:17
3,258106,1205697,В,включён,0,2022-02-07,1900-01-01 16:50:18,1900-01-01 16:53:17,нет регистрации,в комнате,3,2022-02-07 16:50:18,2022-02-07 16:53:17
4,258109,1206994,А,выключен,1,2022-02-08,1900-01-01 03:05:31,1900-01-01 03:06:58,нет регистрации,нет в комнате,1,2022-02-08 03:05:31,2022-02-08 03:06:58

In [27]:
src_survey.to_csv('src_survey.csv', index=False)